.Table {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  width: 300px;
  margin: auto;
  margin-bottom: 30px;
  padding-bottom: 25px;
}

.button {
  padding: 5px;
  margin: 5px;
}

.buttonRow {
  margin: auto;
}
