.navbar {
  margin-top: 0px;
}
nav.navbar,
.navbar-brand {
  background: rgba(255, 255, 255, 0) !important;
  padding-bottom: 0px;
  /* margin-top: 0px; */
  font-size: 20pt !important;
  font-weight: bold;
  color: rgb(255, 255, 255) !important;
}
.nav-link {
  color: rgb(255, 255, 255) !important;
  font-size: 15pt !important;
  margin: 20px;
}
div.nav.a.navbar-brand {
  font-size: 3pt;
}
